Source: slimbook-artwork
Section: utils
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (= 13), libglib2.0-bin, imagemagick-6.q16
Standards-Version: 4.6.0
Homepage: https://slimbook.es
Rules-Requires-Root: no

Package: slimbook-gnome-settings
Architecture: all
Depends:slimbook-base-files, slimbook-default-skel, slimbook-console, slimbook-gnome-background, gnome-shell-extensions, gnome-shell-extension-appindicator, gnome-shell-extension-desktop-icons-ng, gnome-shell-extension-gsconnect, adwaita-qt, adwaita-qt6, gnome-themes-extra, yaru-theme-icon, slimbook-ttf-fonts, dconf-cli, libglib2.0-bin
Recommends: ulauncher
Description: Slimbook OS 24 gnome settings
 Slimbook settings for gnome
 
Package: slimbook-gnome-background
Architecture: all
Description: Slimbook OS 24 wallpaper
 Slimbook wallpaper for gnome

Package: slimbook-ttf-fonts
Architecture: all
Description: Slimbook OS 24 extra fonts
 Truetype fonts for Slimbook OS

Package: slimbook-default-skel
Architecture: all
Description: Slimbook OS 24 default skel
 Default skel files for Slimbook OS 24 users

Package: slimbook-console
Architecture: all
Depends: slimbook-ttf-fonts
Description: Slimbook OS 24 console settings
 Custom bashrc extension for Slimbook OS

Package: slimbook-plasma-wallpapers
Architecture: all
Description: Slimbook OS 24 wallpaper
 Slimbook wallpaper for plasma desktop

Package: slimbook-plasma-settings
Architecture: all
Depends: slimbook-plasma-wallpapers, slimbook-ttf-fonts, slimbook-console, plasma-desktop, konsole
Description: Slimbook OS 24 Plasma Settings
 Default Plasma settings for Slimbook OS 24

Package: slimbook-firefox-defaults
Architecture: all
Depends: firefox
Description: Slimbook OS 24 Firefox settings
 Default Firefox settings for Slimbook OS
