Source: slimbook-artwork
Section: utils
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper (>= 10), libglib2.0-bin
Standards-Version: 4.1.4
Homepage: https://slimbook.es

Package: slimbook-gnome-settings
Architecture: all
Depends:slimbook-gnome-background, gnome-shell-extensions, gnome-shell-extension-appindicator, gnome-shell-extension-desktop-icons-ng, adwaita-qt, adwaita-qt6, gnome-themes-extra
Description: Slimbook 24 (provisional) gnome settings
 Slimbook settings for gnome
 
Package: slimbook-gnome-background
Architecture: all
Description: Slimbook 24 (provisional) wallpaper
 Slimbook wallpaper for gnome


