#!/usr/bin/make -f

PKGDIR=debian/tmp
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C dash-to-panel
	$(MAKE) -C dash-to-panel install DESTDIR=build
	$(MAKE) -C status-area-horizontal-spacing-gnome-shell-extension
	glib-compile-schemas gnome-shell-extension-caffeine/caffeine@patapon.info/schemas
	glib-compile-schemas quick-settings-audio-panel/schemas
